<!-- Botón para abrir el modal -->
<button class="btn" (click)="openModal()"><img src="./assets/logos/facciones.png" height="40" width="40" /></button>

<!-- Modal con carousel de imágenes -->
<div class="modal fade" [class.show]="showModal" tabindex="-1" [style.display]="showModal ? 'block' : 'none'">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Facciones</h5>
                <button type="button" class="btn-close" aria-label="Close" (click)="closeModal()"></button>
            </div>
            <div class="modal-body text-center">
                <img src="assets/ayudaIconos/facciones.jpg" height="auto" width="80%" />
            </div>
        </div>
    </div>
</div>